[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Twisted = ">=22.10"
prometheus-client = ">=0.16"
salt = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.8"
